<div class="container">
  <h3>Angular 2 Forms</h3>
  <form #myForm = "ngForm" novalidate>
    <div class="form-group">
        <label for="firstNameId">First Name</label>
        <input id="firstNameId" type="text" class="form-control" required name="firstName" ngModel>
    </div>
    <div class="form-group">
        <label for="lastNameId">Last Name</label>
        <input id="lastNameId" type="text" class="form-control" required name="lastName" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Ok</button>
  </form>
</div>